* {
  margin: 0px;
}
#header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0px 80px;
  background: #e3e6f3;
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.06);
  z-index: 999;
  position: sticky;
  top: 0;
  left: 0;
}

#navbar {
  display: flex;
  align-items: center;
  justify-content: center;
}

#navbar li {
  list-style: none;
  padding: 0px 20px;
}

#navbar li a {
  text-decoration: none;
  font-size: 17px;
  font-weight: 600;
  color: #1a1a1a;
  position: relative;
}

#navbar li a:hover,
#navbar li a.active {
  color: #3bcac3;
  transition: 0.3s ease;
}

#navbar li a.active::after,
#navbar li a:hover::after {
  content: "";
  width: 65%;
  height: 3px;
  background: #3bcac3;
  bottom: -4px;
  left: 0px;
  position: absolute;
}
footer {
  margin-top: 110px;
  background-color: #e3e6f8;
  padding-left: 40px;
  padding-right: 40px;
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.06);
  display: flex;
  justify-content: space-between;
  border: 1px solid #e3e6f8;
  border-radius: 10px;
  padding-bottom: 20px;
}
.info {
  padding-top: 80px;
}
.info h3 {
  color: #555652;
  padding-top: 20px;
  padding-bottom: 30px;
  font-size: large;
}
.info h3:hover {
  transform: scale(0.75);
  color: black;
}
.info li {
  list-style-type: none;
  padding-top: 10px;
}
.info li a {
  text-decoration: none;
  color: #62635f;
  font-style: italic;
}
.media a {
  height: 40px;
  width: 40px;
  margin: 0 5px;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  border: 2px solid #ccc;
  border-radius: 50%;
  text-decoration: none;
  color: black;
}
.paiment i {
  padding-left: 20px;
}
.paiment i:hover {
  color: #ff2273;
}
#ins:hover {
  color: rgb(255, 0, 157);
}
#tw:hover {
  color: rgb(12, 210, 255);
}
#fb:hover {
  color: blue;
}
#twi:hover {
  color: rgb(2, 10, 81);
}
#yt:hover {
  color: red;
}
.search {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 40px;
}
.search button {
  background-color: #e3e6f8;
  border-radius: 10px;
  border: 2px solid #03294d;
}
.search button i {
  color: #03294d;
}
.search input {
  border: 2px solid #03294d;
  border-radius: 10px;
  background-color: #e3e6f8;
  margin: 4px;
  outline: none;
}
.card {
  margin: 20px;
  border: 2px solid #03294d;
}
.card img {
  width: 350px;
  height: 230px;
  margin: 10px;
  border: 2px solid #03294d;
  border-radius: 40px;
}
.card-cont {
  display: flex;
  justify-content: space-between;
}
.card-cont button {
  border-radius: 40px;
  border: 2px solid #03294d;
}
.card-cont a {
  color: #41d3c8;
  text-decoration: none;
}
#back-news {
  width: 1200px;
  height: 400px;
  margin: 60px 40px ;
  border-radius: 40px;
  border: 2px solid #03294d;
}
